
<footer class="footer  py-3 mt-auto">

    <div class="container-fluid">
        <div class="row">
                <ul class="footer__navbar col-md-5 offset-md-1 offset-lg-0 col-lg-6">
                     <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">Home </a>
                     </li>
                     <li class="footer__nav-item">| </li>
                     <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">About </a>
                     </li>
                     <li class="footer__nav-item">| </li>
                     <li class="footer__nav-item">
                         <a class="footer__nav-link" href="#">Services </a>
                     </li>
                     <li class="footer__nav-item"> | </li>
                     <li class="footer__nav-item">
                         <a class="footer__nav-link" href="#">Works </a>
                     </li>
                     <li class="footer__nav-item"> | </li>
                     <li class="footer__nav-item">
                         <a class="footer__nav-link" href="#">Blog </a>
                     </li>
                     <li class="footer__nav-item"> | </li>
                     <li class="footer__nav-item">
                         <a class="footer__nav-link" href="#">Contact us</a>
                     </li>
                </ul>
            <div class="social offset-md-1 col-md-5">
                <ul class="social__icons-list">
                    <li class="social__icon"><a href="#" class="social__link " ><img src="img/fb-footer-icon.png" /></a></li>
                    <li class="social__icon"><a href="#" class="social__link " ><img src="img/linkedin-footer-icon.png" /></a></li>
                    <li class="social__icon"><a href="#" class="social__link " ><img src="img/twitter-footer-icon.png" /></a></li>
                    <li class="social__icon"><a href="#" class="social__link " ><img src="img/pinterest-footer-icon.png" /></a></li>
                    <li class="social__icon"><a href="#" class="social__link " ><img src="img/dribble-footer-icon.png" /></a></li>
                    <li class="social__icon"><a href="#" class="social__link " ><img src="img/gplus-footer-icon.png" /></a></li>
                </ul>
            </div>
            <div class="footer__copyright offset-md-1  col-md-5 offset-lg-0 col-lg-6">
                © 2013 BlueBox.  All Rights Reserved.
            </div>

            <div class="footer__more offset-md-1 col-sm-12 offset-lg-0  ">
                The logos used in the design are the property of their respective owners / copyright holders.
            </div>

        </div>
    </div>



    <!-- Bootstrap + jQuery + Popper scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</footer>
</div> <!-- wrapper div ends here -->
</body>

</html>