<% include partials/header %>
<!-- Иcпользую след технологии: GIT(command line!), ejs->html, sass->css, bootstrap, БЭМ(!!!), js при необходимости -->
<!-- mobile first !!!-->

<main class="container-fluid">

    <div class="row">
        <h1 class="page__header header-text col-sm-12">Get in touch with us</h1>
    </div>
        <div class="page contact row">

        <p class="contact-form-msg col-md-6">
            Thank you for stopping by! We are happy to hear from you.
            Please contact us through the form below and we will get back to you as soon as we can.
        </p>
        <div class="col-md-6"></div>

        <form class="contact__form contact-form col-md-6">
            <div class="form-group">
                <label for="contact-form__name">Name</label>
                <input class="form-control contact-form__name" id="contact-form__name" placeholder="">
            </div>
            <div class="form-group">
                <label for="contact-form__email">Email address</label>
                <input type="email" class="form-control contact-form__email" id="contact-form__email" placeholder="">
            </div>
            <div class="form-group">
                <label for="contact-form__subject">Subject</label>
                <input class="form-control contact-form__subject" id="contact-form__subject" placeholder="">
            </div>
            <div class="form-group">
                <label for="contact-form__desc">Description</label>
                <textarea class="form-control contact-form__desc" id="contact-form__desc" >
                </textarea>
            </div>
            <input type="submit" class="btn contact-form__btn" value="Submit" />
        </form>

        <div class="contact__map contact-map col-md-5">
            <h3 class="contact-map__header">We are here!</h3>
            <div id="map-canvas"></div>

            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnycWatbGyK6ldFqErjFtko1yeMclNUOA"></script>
            <script type="text/javascript" src="js/mapInit.js"></script>

            <!--
            в консоли - ошибка - нужно обновить API key, но их нужно покупать за отд плату
            -->

            <div class="contact__info row">
                <div class="contact__icon col-md-2"><img src="img/contact-icon.png"> </div>
                <div class=" col-md-10">
                    <p class="contact__company ">BlueBox Company</p>
                    <p class="contact__address">
                        1234 Road<br/>
                        London, SW1 000</p>
                    <p class="contact__phone">
                       Tel: 01000 334 556
                    </p>
                    <p class="contact__fax">
                      Fax: 01000 334 556
                    </p>
                    <p class="contact__email">
                        Email: <a href="mailto:info@domainname.com">info@domainname.com</a>
                    </p>
                </div>

            </div>
        </div>
    </div>



</main>


<% include partials/footer %>
