<% include partials/header %>


<main class="container-fluid container-fluid_no-padding"><!-- container-fluid_no-margin - модфикатор -->
        <h1 class="page__header  portfolio-page__header-text col-sm-12">See our works
            <%  let arr = ["Web design", "Icons", "Illustrations", "Misc"];
             for( let i=0; i< arr.length; i++) {
            %>
            <a class=" header-text__cat" href="#">
                <%= arr[i] %>
            </a>
            <% } %>
        </h1>

        <%  let arr1 = ["Web design", "Icons", "Illustrations", "Misc"];
        for( let i=0; i< arr1.length; i++) {
        %>
    <div class="page portfolio-page row">

    <div class="col-md-5">
            <figure class="portfolio-page__item">
                <p class="portfolio-page__img-container">
                    <img src=<%-"img/portf-coffee-"+(i+1)+".jpg"%> class="portfolio-page__img"/>
                </p>
                <figcaption class="portfolio-page__desc">
                    <h3 class="desc__head">
                        Lorem ipsum dolor sit amet
                    </h3>
                    <p class="desc__txt">
                        Consectetur adipiscing elit.
                        Suspendisse sed leo tellus.
                        Praesent nec vehicula ligula, non laoreet ligula.
                        Maecenas at massa eget orci porttitor semper.
                    </p>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-5">
            <figure class="portfolio-page__item">
                <p class="portfolio-page__img-container">
                    <img src=<%-"img/portf-coffee-"+(arr.length-i)+".jpg"%> class="portfolio-page__img"/>
                </p>
                <figcaption class="portfolio-page__desc">
                    <h3 class="desc__head">
                        Lorem ipsum dolor sit amet
                    </h3>
                    <p class="desc__txr">
                        Consectetur adipiscing elit.
                        Suspendisse sed leo tellus.
                        Praesent nec vehicula ligula, non laoreet ligula.
                        Maecenas at massa eget orci porttitor semper.
                    </p>
                </figcaption>
            </figure>
        </div>
    </div>

    <% } %>

        <p class="contact-form-msg col-md-6">
            Thank you for stopping by! We are happy to hear from you.
            Please contact us through the form below and we will get back to you as soon as we can.
        </p>
</main>


<%  %>


<% include partials/footer %>