<% include partials/header %>


<main class="container-fluid container-fluid_no-padding"><!-- container-fluid_no-margin - модфикатор -->
        <h1 class="page__header  portfolio-page__header-text col-sm-12">See our works
            <span class="d-none d-lg-inline-block">
                <%  let arr = ["Web design", "Icons", "Illustrations", "Misc"];
                 for( let i=0; i< arr.length; i++) {
                %>
                <a class=" header-text__cat" href="#">
                    <%= arr[i] %>
                </a>
                <% } %>
            </span>
        </h1>

        <%  let arr1 = ["Web design", "Icons", "Illustrations", "Misc"];
        for( let i=0; i< arr1.length; i++) {
        %>
    <div class="page portfolio-page portfolio-page-block row">
        <h3 class="col-md-12 portfolio-page-block__header">
            <%= arr[i] %>
        </h3>
        <div class="col-md-5">
            <figure class="portfolio-page__item">
                <p class="portfolio-page__img-container">
                    <img src=<%-"img/portf-coffee-"+(i+1)+".jpg"%> class="portfolio-page__img"/>
                </p>
                <figcaption class="portfolio-page__desc">
                    <h3 class="desc__head">
                        Lorem ipsum dolor sit amet
                    </h3>
                    <p class="desc__txt">
                        Consectetur adipiscing elit.
                        Suspendisse sed leo tellus.
                        Praesent nec vehicula ligula, non laoreet ligula.
                        Maecenas at massa eget orci porttitor semper.
                    </p>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-1 col-sm-0"></div>
        <div class="col-md-1  col-sm-0"></div>
        <div class="col-md-5">
            <figure class="portfolio-page__item">
                <p class="portfolio-page__img-container">
                    <img src=<%-"img/portf-coffee-"+(arr.length-i)+".jpg"%> class="portfolio-page__img"/>
                </p>
                <figcaption class="portfolio-page__desc">
                    <h3 class="desc__head">
                        Lorem ipsum dolor sit amet
                    </h3>
                    <p class="desc__txr">
                        Consectetur adipiscing elit.
                        Suspendisse sed leo tellus.
                        Praesent nec vehicula ligula, non laoreet ligula.
                        Maecenas at massa eget orci porttitor semper.
                    </p>
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="block-divider"></div>

    <% } %>

</main>


<%  %>


<% include partials/footer %>